
/* Style the entire form page */
.entire-form-page {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

/* Style the form header */
.account-settings-header {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Style the form inputs */
.text-input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* Style the submit button */
.btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}


.btn:hover {
  background-color: #0069d9;
}
