:root {
  --modal-radius: 12px;
  --black: #0f0f0f;
  --dark-grey: #222;
  --error: #a9323a;
  --eggplant: #1F1028;
  --dumpster: #314443;
  --light-green: #52C47A;
  --tan: #EDE1D8;
  --light-grey: #f0f0f0;
  --white: #fefefe;
  --shadow: rgb(124, 124, 124);
  --shadow2: rgb(124, 124, 124, 0.5);
  --fadeOut: opacity ease-out 300ms;
  --clearFooter: 54px;
}