:root {
  --modal-radius: 12px;
  --black: #0f0f0f;
  --dark-grey: #222;
  --error: #a9323a;
  --eggplant: #1F1028;
  --dumpster: #314443;
  --light-green: #52C47A;
  --tan: #EDE1D8;
  --light-grey: #f0f0f0;
  --white: #fefefe;
  --shadow: rgb(124, 124, 124);
  --shadow2: rgb(124, 124, 124, 0.5);
  --fadeOut: opacity ease-out 300ms;
  --clearFooter: 54px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

body {
  margin: 0;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}